.modal 
    .modal__call-back 
        .close 
            span 
            span 
        form(action="#" method="POST")
            h2.title ПРЕИМУЩЕСТВА G&nbsp;-&nbsp;SYNC
            label(for="firstName") 
                input(type="text" name="firstName" placeholder="Имя" required)#firstName 
            label(for="email") 
                input(type="email" name="firstName" placeholder="Mail" required)#email 
            button.btn Купить


script(src='js/jquery-3.6.0.min.js')
script(src='js/script.js')
